__pycache__/
*.pyc
.venv/
venv/
.env

data/raw/*
data/processed/*
data/manifests/*.json
manifests/*.json
data/tokenizer/*

checkpoints/*
logs/*

*.pt
*.pth
*.ckpt
*.safetensors

.ipynb_checkpoints/
.DS_Store

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/manifests/.gitkeep
!data/tokenizer/.gitkeep
!checkpoints/.gitkeep
!logs/.gitkeep
